body {
   /* background-color: #adceba; */
   background: linear-gradient(225deg, #adceba, #0b470e);
   font-family: 'Cinzel', serif;
}

#nav-bar {
   border: 12px double #48805e;
   border-radius: 20px;
}

#logo { 
   text-align: center;
   font-family: 'Cinzel', serif;
   font-size: 30px;
}

#login-form {
   padding-bottom: 20px;
   padding-left: 20px;
   display: inline-block;
}

